/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/activefacts/cql/actual
/tmp/
lib/activefacts/cql/parser/[A-Z]*.rb
lib/activefacts/cql/parser/Language/[A-Z]*.rb
*.swp
clj
.DS_Store
*.rej
*.orig
*.diff
*.cql
*.forml
*.patch
log
.byebug_history
*-hide
